<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>登 录 页 面</title>
	<link rel="stylesheet" href="/jslib/sigin/pear.css" />
	<link rel="stylesheet" href="/jslib/sigin/login.css" />
</head>
<!-- 代 码 结 构 -->
<body background="/jslib/sigin/img/background2.svg" style="background-size: cover;">
<form class="layui-form" th:action="@{/login}" method="post">
	<div class="layui-form-item">
		<img class="logo" src="/jslib/sigin/img/logo.png" />
		<div class="title" align="center">Pleace-Login</div>
		<div class="desc">
			Spring Boot 后 台 管 理 系 统
		</div>
	</div>
	<div class="layui-form-item">
		<input id="username" name="username" placeholder="用 户 名 : " type="text" hover class="layui-input" required lay-verify="username"/>
	</div>
	<div class="layui-form-item">
		<input id="password" name="password" placeholder="密 码 : " type="password"  hover class="layui-input" required lay-verify="password"/>
	</div>
	<div class="layui-form-item">
		<input type="checkbox" id="rememberme" name="rememberme" title="记住密码" lay-skin="primary" checked>
	</div>
	<div class="layui-form-item">
		<button class="pear-btn pear-btn-success login" lay-submit lay-filter="formLogin" type="submit">
			登 入
		</button>
	</div>
</form>
<script src="/jslib/sigin/layui.css"></script>
<script>
	layui.use(['form', 'element','jquery'], function() {
		var form = layui.form;
		var element = layui.element;
		var $ = layui.jquery;
		// $("body").on("click",".login",function(obj){
		// 	location.href="/api/admin"
		// })
		form.verify({
			username: function(value) {
				if (value.length <= 0 ) {
					return '用户名不能为空';
				}
			},
			password: function (value) {
				if (value.length <= 0) {
					return '密码不能为空';
				}
			},
			captcha: function (value) {
				if (value.length <= 0) {
					return '验证码不能为空';
				}
				if (value.length !== 4) {
					return '请输入正确格式的验证码';
				}
			}
		})
	})
	if(window !=top){
		    top.location.href = location.href;
	}
</script>
</body>
</html>